<div class="player-section">
    <link rel="stylesheet" href="/css/style.css">
    <div class="video-container">
        <video src="/uploads/<%= videoName %>" controls autoplay class="video-player"></video>
    </div>
    
    <div class="video-details">
        <h2><%= videoName.split('-').slice(1).join('-') %></h2>
        <a href="/videos" class="btn back-btn">Retour aux vidéos</a>
    </div>
</div>
